@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');
.Agedashboard{
    background: #343234;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: inline-flex;
    font-family:Montserrat ;
    font-size: 1.5rem;

  }
 .ageCalculatorPage-Container h1{
    margin-top: 50px;
    color: #FE9111;
  }
  .datePicker{
    background-color: #D9D8DA;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    font-size: 1.5rem;
  }
  .datePicker-lable{
    background-color: #D9D8DA;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  .resultContainer{
    display: flex;
    place-content: center;
    padding: 10px;
  }
  .counter{
    margin: 15px;
    background: #D9D8DA;
    padding: 10px;
    border-radius: 20px;
  }

  
  .ageCalculatorPage-desc{
    font-weight: 500;
    white-space: pre-wrap;
    max-width: 500px;
    margin: 0 auto;
    color: #6d3900;
    padding-top: 50px;

  }
  .ageCalculatorPage-Container{
    text-align-last: center;
  }

  @media (max-width: 700px){
    .Agedashboard{
      font-size: clamp(0.4rem,0.6rem,0.9rem);
      padding: 5px;

    }
    .ageCalculatorPage-desc{
      max-width: 300px;
    }
    .datePicker{
      font-size: clamp(0.6rem,0.8rem,1rem);
    }
  }